<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
        <!--
       create database edunovajp25hib character set utf8mb4;


-->
        
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://localhost:3306/edunovajp25hib?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">5</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        
        <property name="hbm2ddl.auto">update</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        
        <!-- Ovdje ćemo navoditi mapirane klase 
        <mapping class="model.primary.MobilePhone" />
        <mapping class="model.primary.Pencil" />
        <mapping class="model.primary.Pc" />
        
        <mapping class="inheritance.DeliveryNote" />
        <mapping class="inheritance.Receipt" />
        
        <mapping class="connections.Municipality" />
        <mapping class="connections.Place" />
        <mapping class="connections.Label" />
        <mapping class="connections.Picture" />
        -->
        
     
        <mapping class="model.edunova.model.Student" />
        <mapping class="model.edunova.model.Professor" />
        <mapping class="model.edunova.model.Course" />
        <mapping class="model.edunova.model.Group" />
        <mapping class="model.edunova.model.Operator" />
                
       
        
         <!--
        <mapping class="model.edunova.exercise1.Osoba" />
        <mapping class="model.edunova.exercise1.Polaznik" />
        <mapping class="model.edunova.exercise1.Predavac" />
        <mapping class="model.edunova.exercise1.Smjer" />
        <mapping class="model.edunova.exercise1.Grupa" />
          -->
    </session-factory>
</hibernate-configuration>